* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.25rem;
}

header>nav,
footer {
    min-height: 70px;
}

.avatar {
    max-width: 100%;
}

.img60px {
    width: 60px;
    height: 60px;
}

footer * {
    color: white
}