{% macro user_form(user, action, roles_list, current_user, errors) %}
<form method="POST" action="{{ action }}">
    {% if request.endpoint == 'users_new' or request.endpoint == 'create_user' %}
    <div class="row mb-3">
        <label for="login" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-10">
            <input type="text" name="login" class="form-control {% if errors and 'login' in errors %}is-invalid{% endif %}" id="login" value="{{ user.login or '' }}">
            {% if errors and 'login' in errors %}
            <div class="invalid-feedback">
                {{ errors['login'] }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" name="password" class="form-control {% if errors and 'password' in errors %}is-invalid{% endif %}" id="password" value="{{ user.password or '' }}">
            {% if errors and 'password' in errors %}
            <div class="invalid-feedback">
                {{ errors['password'] }}
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="row mb-3">
        <label for="last_name" class="col-sm-2 col-form-label">Last name</label>
        <div class="col-sm-10">
            <input type="text" name="last_name" class="form-control {% if errors and 'last_name' in errors %}is-invalid{% endif %}" id="last_name" value="{{ user.last_name or '' }}">
            {% if errors and 'last_name' in errors %}
            <div class="invalid-feedback">
                {{ errors['last_name'] }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <label for="first_name" class="col-sm-2 col-form-label">First name</label>
        <div class="col-sm-10">
            <input type="text" name="first_name" class="form-control {% if errors and 'first_name' in errors %}is-invalid{% endif %}" id="first_name" value="{{ user.first_name or '' }}">
            {% if errors and 'first_name' in errors %}
            <div class="invalid-feedback">
                {{ errors['first_name'] }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <label for="middle_name" class="col-sm-2 col-form-label">Middle name</label>
        <div class="col-sm-10">
            <input type="text" name="middle_name" class="form-control" id="middle_name" value="{{ user.middle_name or '' }}">
        </div>
    </div>
    {% if current_user.can('change_role') %}
    <div class="row mb-3">
        <label for="role_id" class="col-sm-2 col-form-label">Role</label>
        <div class="col-sm-10">
            <select name="role_id" class="form-control" id="role_id">
                {% for role in roles_list %}
                <option {% if user.role_id | string == role.id | string %} selected {% endif %} value="{{ role.id }}">{{ role.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endmacro %}