{% extends 'base.html' %}

{% block content %}
<!-- заголовок поста -->
<h1>{{ post.title }}</h1>
<!-- автор поста -->
<h2>Автор поста: {{ post.author }}</h2>
<!-- дата поста -->
<p>Дата публикации: {{ post.date }}</p>
<!-- изображение поста -->
<img class="w-100" src="{{url_for('static', filename='images/' ~ post.image_id)}}" alt="">
<!-- текст поста -->
<p>{{ post.text }}</p>
<!-- Форма для отправки комментария -->
<form class="mt-4">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Оставьте комментарий</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button class="mt-4 btn bg-primary">Отправить</button>
</form>


<!-- отображение комментариев -->
<section class="mt-4">
    {% for comment in post.comments %}
    <div class="d-flex">
        <div class="flex-shrink-0">
            <img class="img60px" src="{{url_for('static', filename='images/' ~ 'avatar.jpg')}}" alt="Sample Image">
        </div>
        <div class="flex-grow-1 ms-3">
            <h5>{{ comment.author }} <small class="text-muted"><i>Posted on January 10, 2021</i></small></h5>
            <p>{{ comment.text }}</p>

            {% if comment.replies %}
            {% for reply in comment.replies %}
            <div class="d-flex">
                <div class="flex-shrink-0">
                    <img class="img60px" src="{{url_for('static', filename='images/' ~ 'avatar.jpg')}}"
                        alt="Sample Image">
                </div>
                <div class="flex-grow-1 ms-3">
                    <h5>{{ reply.author }} <small class="text-muted"><i>Posted on January 10, 2021</i></small></h5>
                    <p>{{ reply.text }}</p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section>


{% endblock %}