{% extends 'base.html' %}

{% block content %}
<h1>Форма с обработкой ошибок</h1>

<div class="card">
    <!-- Заголовок карточки -->
    <div class="card-header">Введите номер телефона</div>

    <form method="post" class="card-body">
        <div class="mb-3 card-text">
            <input type="tel" class="form-control {% if context %}is-invalid{% endif %}" name="number"
                value="{{ request.form['number'] }}" required>
            {% if context %}
            <div class="invalid-feedback">
                {{ context }}
            </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>

{% if request.method == 'POST' %}
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Значение</th>
        </tr>
    </thead>
    <tbody>
        {% for name, value in request.form.items() %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ number }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}