{% extends 'visits/base.html' %}
{% from 'pagination.html' import pagination %}

{% block tab_content %}
<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                path
            </th>
            <th>
                login
            </th>
            <th>
                date
            </th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>
                {{loop.index}}
            </td>
            <td>
                {{log.path}}
            </td>
            <td>
                {{log.login or 'Анонимный пользователь'}}
            </td>
            <td>
                {{ log.created_at }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ pagination(current_page, last_page, request.endpoint) }}
{% endblock %}